.el-container {
  height: 100%;
  .el-header {
    z-index: 999;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: unset;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(5px);

    &.sticky {
      .nav-bar {
        height: 3.5rem;
      }
    }
  }

  .el-footer {
    padding: unset;
  }
}

.el-tabs {
  width: 100%;

  .el-tabs__content {
    height: 100%;

    .el-tab-pane {
      height: 100%;
    }
  }
}
